@import "base/reset";
@import "base/modificacionesgenerales";

@import "componentes/carousel";

@import "sections/header";
@import "sections/footer";
@import "sections/index";
@import "sections/historia";
@import "sections/discografia";
@import "sections/galeria";

