html {
    font-family: 'Poppins', sans-serif;
}

main {
    background-image: url(https://rockandblog.net/wp-content/uploads/2022/01/maxresdefault-17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}

h2{
    text-shadow: white;
}